  .traffic-light {
    width: 300px;
    height: 120px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
  }

  .light {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .green {
    background-color: green;
  }

  .yellow {
    background-color: yellow;
  }

  .red {
    background-color: red;
  }